* {
  margin: 0;
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  background-color: #257195;
}

.design {
  width: 100%;
  height: 350px;
  background-color: white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  transform: translateY(-100%);
  margin-bottom: -350px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  transform: translate(40px, 30px);
  z-index: 2;
}

.about {
  margin: 40px 30px;
  padding: 40px 50px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 400px;
  width: 40%;
  z-index: 1;
}

.social {
  display: flex;
  gap: 15px;
  align-self: end;
}

.social:hover {
  cursor: pointer;
}

.about p {
  font-size: 1.1em;
  line-height: 1.5;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3.5em;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

.socialImg {
  width: 30px;
}

img {
  max-width: 100%;
}

.cards {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  padding: 50px 200px;
  gap: 80px;
  margin-bottom: 80px;
}

.card {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

h3 {
  margin-right: auto;
  font-size: 1.2em;
  font-weight: 400;
}

.card div {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px 20px;
}

.card p {
  padding: 20px 20px;
}

.projects h2 {
  padding-left: 200px;
  padding-top: 100px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #257195;
  padding: 60px 200px;
  color: white;
}

.footer picture {
  width: 30%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
}

.info p {
  font-size: 1.2em;
}

.phone:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-size: cover;
  background-image: url(./assets/phone-call.png);
}

.email:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-size: cover;
  background-image: url(./assets/email1.png);
  vertical-align: middle;
}

.socialFooter {
  display: flex;
  gap: 30px;
}

.socialFooter img {
  width: 60px;
}

.socialFooter img:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header {
    padding: 20px 30px;
  }
  * {
    font-size: 16px;
  }

  h1 {
    font-size: 1.8em;
  }
  .about {
    padding: 20px 30px;
    gap: 10px;
    height: 300px;
    width: 50%;
  }
  .design {
    height: 200px;
    margin-bottom: -200px;
  }

  .projects h2 {
    padding-left: 50px;
    padding-top: 30px;
  }
  .cards {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    padding: 50px 60px;
    gap: 40px;
    margin-bottom: 40px;
  }

  .footer {
    padding: 40px 60px;
  }
  .footer picture {
    width: 60%;
  }
  .info {
    gap: 20px;
  }
  .info p {
    font-size: 1em;
  }
  .phone:before,
  .email:before {
    width: 15px;
    height: 15px;
  }
  .socialFooter img {
    width: 30px;
  }
  .info h2 {
    font-size: 1.6em;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 10px 15px;
    flex-direction: column;
  }

  .profile {
    max-width: 70%;
    transform: translate(0, 0);
    margin-top: 20px;
  }

  * {
    font-size: 12px;
  }

  .socialImg {
    width: 20px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  .about {
    padding: 0 30px;
    gap: 10px;
    height: 250px;
    width: 50%;
    margin: 0;
    margin-bottom: 10px;
  }

  .design {
    display: none;
  }

  .projects h2 {
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    text-align: center;
    font-size: 3em;
  }

  .cards {
    grid-template: repeat(6, 1fr) / 1fr;
    padding: 20px 60px;
    gap: 40px;
    margin-bottom: 40px;
  }

  .footer {
    padding: 40px 60px;
    flex-direction: column;
  }

  .footer picture {
    width: 100%;
  }

  .info {
    gap: 10px;
    margin-bottom: 20px;
  }

  .info p {
    font-size: 1em;
  }

  .phone:before,
  .email:before {
    width: 15px;
    height: 15px;
  }

  .socialFooter img {
    width: 20px;
  }

  .socialFooter {
    gap: 15px;
  }

  .info h2 {
    font-size: 1.6em;
  }
}
